<!-- <div class="chat-community" fxLayout="column" fxLayoutAlign="center start">
    <h2>Community Chat</h2>
    <div class="chat-box" fxLayout="column" fxLayoutGap="10px">
      <mat-card *ngFor="let message of messages" class="message-card">
        <h4>{{ message.user }}:</h4>
        <p>{{ message.text }}</p>
      </mat-card>
    </div>
    <div class="input-box" fxLayout="row" fxLayoutAlign="center center">
      <input matInput [(ngModel)]="newMessage" placeholder="Type your message here">
      <button mat-icon-button color="primary" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div> -->
  